<h1>Editing travelguide</h1>

<%= render "form", travelguide: @travelguide %>

<br>

<div>
  <%= link_to "Show this travelguide", @travelguide %> |
  <%= link_to "Back to travelguides", travelguides_path %>
</div>
